<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="OriginPath" value="D:\User\ignac\Documentos\Work plexus\PDFSplitter\PRENOMINA_WK_026_2020.PDF" />
        <add key="MaxPageCount" value="1" />
        <add key="MaxFilesByDirectory" value="500" />
        <add key="UserName" value="ignac" />
        <add key="Password" value="monster666" />
        <add key="FtpAddress" value="ftp://192.168.1.76" />
    </appSettings>
</configuration>