<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="OriginPath" value=""/>
        <add key="LocalOutput" value=""/>
        <add key="MaxPageCount" value=""/>
        <add key="MaxFilesByDirectory" value=""/>
        <add key="UserName" value=""/>
        <add key="Password" value=""/>
        <add key="FtpAddress" value=""/>
    </appSettings>
</configuration>