<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="OriginPath" value="D:\User\ignac\Documentos\Work plexus\PDFSplitter" />
        <add key="LocalOutput" value="D:\User\ignac\Documentos\Work plexus\PDFSplitter" />
        <add key="MaxPageCount" value="1" />
        <add key="MaxFilesByDirectory" value="500" />
        <add key="UserName" value="" />
        <add key="Password" value="" />
        <add key="FtpAddress" value="" />
    </appSettings>
</configuration>